# This file contains the basic instruction set of the 68k microprocessor

scopeName: 'source.68k-assembly'
patterns: [
  # The basic 68000 instruction set
  { include: '#mnemonics-m68000' }
]

# start of repository ----------------------------------------------------------
repository:

  # Motorola 68000 Basic Instruction Set
  'mnemonics-m68000':
    patterns: [
      # opcodes
      {
        captures:
          1: name: 'keyword.mnemonic.68k-assembly'
          2: name: 'constant.language.68k-assembly'
        match: '\\b((?i:ADD|ADDA|ADDI|ADDQ|ADDX|AND|ANDI|ASL|ASR|D?BCC|D?BLS|D?BEQ|D?BNE|D?BHI|D?BCC|D?BPL|D?BVC|D?BRA|D?BLT|D?BLE|D?BGT|D?BGE|D?BMI|D?BVS|DB[FT]|BCHG|BCLR|BSET|BSR|BTST|CHK|CLR|CMP|CMPA|CMPI|CMPM|DIVS|DIVU|EOR|EORI|EXG|EXT|JMP|JSR|LEA|LSL|LSR|MOVE|MOVEA|MOVEM|MOVEQ|MULS|MULU|NEG|NEGX|NOP|NOT|OR|ORI|ROL|ROR|ROXL|ROXR|RTE|RTR|RTS|SUBtract|SWAP|TRAP|TRAPV|TST))\\.?((?i:[bwl])?)\\b'
        name: 'meta.mnemonics.68k-assembly'
      }
    ]
