# Syntax highlighting for flex assembler
# See http://www.flexusergroup.com/flexusergroup/pdfs/asmb.pdf
# for more information

scopeName: 'source.asmb'
name: 'FLEX Assembler'
fileTypes: [
  's'
  'S'
  'asm'
  'a09'
]
patterns: [
  # { include: 'source.6809-assembly' }   # lwtools supports the 6309 instruction set
  # { include: '#comments' }              # Comments
  # { include: '#symbols' }               # Symbols, strings and numbers
  { include: '#directives' }            # Assembler directives for lwtools
  # { include: 'source.6809-assembly' }   # lwtools supports the 6309 instruction set
]

# start of repository
repository:

  # Number formats accepted by lwtools
  # symbols:
  #   patterns: [
      # strings
      # {
      #   begin: '"'
      #   beginCaptures:
      #     0:
      #       name: 'punctuation.definition.string.begin.lwtools-toolchain'
      #   end: '"'
      #   endCaptures:
      #     0:
      #       name: 'punctuation.definition.string.end.lwtools-toolchain'
      #   name: 'string.quoted.double.assembly.lwtools-toolchain'
      # }
      # # absolut
      # {
      #   match: '\\#(\'.\'|[^\\s\']+)'
      #   name: 'constant.numeric.hex.lwtools-toolchain'
      # }
      # # hex, prefixed with ampersand($)
      # {
      #   match: '-?\\$[A-Fa-f0-9]+'
      #   name: 'constant.numeric.hex.lwtools-toolchain'
      # }
      # # hex, suffixed with h(h)
      # {
      #   match: '-?([0-9]+)h'
      #   name: 'constant.numeric.hex.lwtools-toolchain'
      # }
      # # binary
      # {
      #   match: '%[01]+'
      #   name: 'constant.numeric.binary.lwtools-toolchain'
      # }
      # # decimal
      # {
      #   match: '\\b([0-9]+)\\b'
      #   name: 'constant.numeric.decimal.lwtools-toolchain'
      # }
    # ]

  # assembler directives of asmb
  directives:
    patterns: [
      # directives
      {
        # main rule
        # contentName: 'keyword.asmb'
        begin: '\\-(.*?)\\s+(.*?)\\s+'
        beginCaptures:
          1:
            name: 'meta.label.asmb'
            patterns: [
              {
                name: 'constant.character.asmb'
                # match: 'b(.*?)b'
                match: '[a-zA-Z0-9][a-zA-Z0-9_]+'
              }
              # mumu
              # {
              #   # name: 'support.function.pseudo.asmb'
              #   # match: 'mumu'
              #   include: 'source.6809-assembly'
              # }
            ]
          2:
            name: 'meta.opcode.asmb'
            patterns: [
              # 6809 directives
              { include: 'source.6809-assembly' }
            ]
        end: '\\s*'
        # end: '$'
        # end: '-'
      }
    ]
