# Syntax highlighting for Crossware 6809 assembler toolchain
# See http://crossware6809.projects.l-w.ca for more information

scopeName: 'source.crossware6809-toolchain'
name: '6809 Assembly (Crossware 6809 Assembler)'
fileTypes: [
  's'
  'S'
  'asm'
  'a09'
]
patterns: [

  { include: 'source.6809-assembly' } # crossware 6809 assembler supports the 6809 instruction set
  { include: '#symbols' }             # symbols
  { include: '#directives' }          # Assembler directives for crossware6809
]

# start of repository ----------------------------------------------------------
repository:

  # Numbers
  symbols:
    patterns: [
      # Binary, prefixed with %
      {
        match: '%[01]+'
        name: 'constant.numeric.binary.crossware6809-toolchain'
      }
      # Binary, suffixed with B
      {
        match: '([0-9]+)B'
        name: 'constant.numeric.binary.crossware6809-toolchain'
      }
      # Octal, prefixed with @
      # TODO: fix prefix
      {
        match: '@[01]+'
        name: 'constant.numeric.octal.crossware6809-toolchain'
      }
      # Octal, suffixed with O or Q
      {
        match: '-?([0-9]+)[OQ]'
        name: 'constant.numeric.octal.crossware6809-toolchain'
      }
      # Decimal, prefixed with ampersand($)
      {
        match: '(&)?([0-9]+)'
        name: 'constant.numeric.decimal.crossware6809-toolchain'
      }
      # Hex, prefixed with dollar sign($)
      {
        match: '-?\\$[A-Fa-f0-9]+'
        name: 'constant.numeric.hex.crossware6809-toolchain'
      }
      # Hex, suffixed with h
      # TODO: first character must be 0 - 9
      {
        match: '-?([0-9]+)h'
        name: 'constant.numeric.hex.crossware6809-toolchain'
      }
    ]

  # Assembler directives of crossware6809
  directives:
    patterns: [
      # Data directives
      {
        match: '\\b(?i)(bsz|equ|fc(b|c)|fdb)\\b'
        name: 'storage.modifier.crossware6809-toolchain'
      }
      # Object, source control directives
      {
        match: '\\b(?i)((no)?(obj|page|una)|sym|common|fail|fields|include|name|opt|org|pagewidth|section|set(dp)?|spc|ttl|x(d|r)ef)\\b'
        name: 'storage.modifier.crossware6809-toolchain'
      }
      # Macros directives
      {
        match: '\\b(?i)((no)?m(c|d|ex)|macr)\\b'
        name: 'storage.modifier.crossware6809-toolchain'
      }
      # Conditional directives
      {
        match: '\\b(?i)((no)?(c)?list|listf|elsec|end(c|m)?|if(i)?(n)?c|ifcc)\\b'
        name: 'storage.modifier.crossware6809-toolchain'
      }
      # Operators
      {
        match: '(!)?\\*|(!)?\\/|\\-|\\+|!\\^|!\\.|!\\+|!X|!<|!>|!(R|L)'
        name: 'keyword.operator.crossware6809-toolchain'
      }
    ]
