# Syntax highlighting for lwtools assembler toolchain

scopeName: 'source.edtasm-plus'
name: 'EDTASM+ (6809)'
fileTypes: [
  's'
  'S'
  'asm'
]
patterns: [
  # { include: 'source.6809-assembly' }   # lwtools supports the 6809 instruction set
  # { include: '#comments' }              # Comments
  # { include: '#symbols' }               # Symbols, strings and numbers
  { include: '#directives' }            # Assembler directives for lwtools
]

# start of repository
repository:

  # assembler directives of lwtools
  directives:
    patterns: [
      # data directives
      {
        match: '(.*?)\\s+(.*?)\\s+(.*?)\\s+(.*?)\\n'
        captures:
          1: # Label field
            name: 'meta.label.edtasm-plus'
            patterns: [{
                name: 'entity.name.function.label.edtasm-plus'
                match: '\\b[a-zA-Z]{1,6}'
              }]

          2: # opcode field
            name: 'meta.mnemonic.edtasm-plus'
            patterns: [
              { include: 'source.6809-assembly' }
              {
                match: '\\b(?i)(fc[bc]|fdb|end|equ|org|rmb|set(dp)?)\\b'
                name: 'support.function.pseudo.lwtools-toolchain'
              }
            ]

          3: # operands field
            name: 'meta.operand.edtasm-plus'
            patterns: [
              # absolut
              {
                match: '\\#(\'.\'|[^\\s\']+)'
                name: 'constant.numeric.hex.edtasm-plus'
              }
              # hex, prefixed with dollar sign($)
              {
                match: '\\$[A-Fa-f0-9]+'
                name: 'constant.numeric.hex.edtasm-plus'
              }
              # hex, suffixed with h(h)
              {
                match: '([a-fA-F0-9]+[hH])'
                name: 'constant.numeric.hex.edtasm-plus'
              }
              # decimal
              {
                match: '([0-9]+)'
                name: 'constant.numeric.decimal.edtasm-plus'
              }
              # decimal, prefixed with ampersand(&)
              {
                match: '(\\&[0-9]+)'
                name: 'constant.numeric.decimal.edtasm-plus'
              }
              # decimal, suffixed with T
              {
                match: '([0-9]+[tT])'
                name: 'constant.numeric.decimal.edtasm-plus'
              }
              # octal, prefixed with @
              {
                match: '(\\@[0-7]+)'
                name: 'constant.numeric.decimal.edtasm-plus'
              }
              # octal, suffixed with Q
              {
                match: '([0-7]+[qQ])'
                name: 'constant.numeric.decimal.edtasm-plus'
              }
            ]

          4: # comment field
            name: 'meta.comment.edtasm-plus'
          # 4: name: 'comment.line.semicolon.edtasm-plus'
      }
    ]
